{
  "components": {
    "schemas": {
      "Input": {
        "properties": {
          "duration": {
            "default": 5,
            "description": "Video duration in seconds (4-30), or -1 for model to choose automatically.",
            "enum": [
              -1,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15,
              16,
              17,
              18,
              19,
              20,
              21,
              22,
              23,
              24,
              25,
              26,
              27,
              28,
              29,
              30
            ],
            "type": "integer",
            "x-ui-component": "slider"
          },
          "generate_audio": {
            "default": true,
            "description": "Whether to generate synchronized audio (voice, sound effects, background music).",
            "type": "boolean"
          },
          "model": {
            "default": "bytedance/seedance-2.5/text-to-video",
            "description": "Model name.",
            "type": "string"
          },
          "output_format": {
            "default": "mp4",
            "description": "Output video container format. 'mp4' is the default; 'mov' encodes yuv444p for higher color fidelity, suited to multi-round editing/extension pipelines where recompression loss accumulates.",
            "enum": [
              "mp4",
              "mov"
            ],
            "type": "string"
          },
          "prompt": {
            "default": "A golden retriever running on a sunny beach, waves crashing in the background, cinematic lighting",
            "description": "Text prompt describing the desired video. Supports Chinese and English. Recommended length: Chinese < 500 characters, English < 1000 words.",
            "type": "string"
          },
          "ratio": {
            "default": "adaptive",
            "description": "Aspect ratio. 'adaptive' automatically selects based on prompt context.",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "type": "string"
          },
          "resolution": {
            "default": "720p",
            "description": "Video resolution. 480p, 720p, and 1080p are native Seedance outputs. Every -sr and -esr option first generates the nearest native source, then upscales or enhances it: 720p-sr and 720p-esr from 480p; 1080p-sr, 1080p-esr, and 1080p-esr & 60fps from 720p; 1440p-sr, 1440p-esr, and 4k-esr from 1080p. Example: 4k-esr enhances a native 1080p source, not 720p. Native 1080p, 1080p-sr, and 1080p-esr are different products and are priced differently. 4k-esr delivers a 2160-pixel short edge (3840x2160 at 16:9), not native 4K generation.",
            "enum": [
              "480p",
              "720p",
              "720p-sr",
              "720p-esr",
              "1080p",
              "1080p-sr",
              "1080p-esr",
              "1080p-esr & 60fps",
              "1440p-sr",
              "1440p-esr",
              "4k-esr"
            ],
            "type": "string"
          },
          "return_last_frame": {
            "default": false,
            "description": "Whether to return the last frame as a separate image.",
            "type": "boolean"
          },
          "watermark": {
            "default": false,
            "description": "Whether to add a watermark.",
            "type": "boolean"
          }
        },
        "required": [
          "model",
          "prompt"
        ],
        "type": "object",
        "x-order-properties": [
          "model",
          "prompt",
          "duration",
          "resolution",
          "ratio",
          "output_format",
          "generate_audio",
          "watermark",
          "return_last_frame"
        ]
      },
      "PredictionData": {
        "properties": {
          "completion_tokens": {
            "description": "Tokens consumed for billing.",
            "type": "integer"
          },
          "created_at": {
            "description": "ISO timestamp of creation.",
            "format": "date-time",
            "type": "string"
          },
          "has_nsfw_contents": {
            "description": "NSFW detection per output.",
            "items": {
              "type": "boolean"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique identifier for the prediction.",
            "type": "string"
          },
          "model": {
            "description": "Model ID used for the prediction.",
            "type": "string"
          },
          "outputs": {
            "description": "URLs to generated content (video + optional last frame).",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "description": "Status: processing, completed, failed, or timeout.",
            "type": "string"
          },
          "total_tokens": {
            "description": "Total tokens consumed.",
            "type": "integer"
          },
          "urls": {
            "description": "Object containing related API endpoints.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "PredictionResponse": {
        "properties": {
          "code": {
            "type": "integer"
          },
          "data": {
            "$ref": "#/components/schemas/PredictionData"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "description": "Seedance 2.5 text-to-video with native, FlashVSR SR, and Atlas Video Enhance ESR resolution options.",
    "title": "AtlasCloud API",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/api/v1/model/generateVideo": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictionResponse"
                }
              }
            },
            "description": "The request status."
          }
        }
      },
      "x-api-name": "model_run"
    },
    "/api/v1/model/prediction/{request_id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "request_id",
            "required": true,
            "schema": {
              "description": "Request ID",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictionResponse"
                }
              }
            },
            "description": "Result of the request."
          }
        }
      },
      "x-api-name": "model_result"
    }
  },
  "servers": [
    {
      "url": "https://api.atlascloud.ai"
    }
  ]
}
